body {
  font-family: Helvetica, Arial, sans-serif;
	color: #665544;
	padding: 22px;}
  
	h1, h2 {
	padding: 12px;
	line-height: 2em;}

	p {
	padding: 6px;
	line-height: 1em;}

	a {
	color: blue;}

i, a, a:hover, a:visited {
				color: #665544;}
